/* Avtor: Shapovalov V B */
/* Учебный проект */

/* hotels css start */
/* global start *********************************************************/
/* Шрифты для lionic.com *********************************************************/
/* document.body.contentEditable = true */
/* https://jakearchibald.github.io/svgomg */
/* https://codepen.io/arman_bag/pen/ZdXRqz */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff"),
    url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
    url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-BoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
    url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
    url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-LightItalic.woff") format("woff"),
    url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
    url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"),
    url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff"),
    url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

#toTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  bottom: 30px;
  right: -40px;
  width: 48px;
  height: 48px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: var(--color-blue-bold);
  border-radius: 30px;
  background: var(--color-blue-bold);

  opacity: 0;
  visibility: hidden;
  transition: var(--transition-normal);
}

#toTop:hover {
  background: var(--color-blue-regular);
}

#toTop:active {
  background: var(--color-blue-light);
}

#toTop svg {
  position: relative;
  top: 13px;
  right: 0px;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop:hover svg {
  cursor: pointer;
  fill: var(--color-white-light);
  transition: var(--transition-normal);
}

#toTop.show {
  opacity: 85%;
  visibility: visible;
  right: calc(2%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-white-light);
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:focus-visible {
  outline: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-btn {
  padding: 0%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.word-break {
  word-break: break-all;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

:root {
  /* color */

  --color-white-light: #ffffff;
  --color-white-regular: #dadada;
  --color-white-medium: #e4e4e4;

  --color-dark-light: #c4c4c4;
  --color-dark-regular: #787878;
  --color-dark-medium: #1c1c1c;
  --color-dark-bold: #000000;

  --color-blue-light: #71a7e2;
  --color-blue-regular: #3172b9;
  --color-blue-bold: #0e3b6c;

  /* transition */

  --transition-normal: all 0.3s ease-in-out;
  --transition-faster: all 0.3s linear;

  /* header */

  --nav__item-margin-righ: 52px;
  --header__btn-margin-righ: 56px;

  /* btn */

  --header__btn-padding: 15px 35px;
  --topBanner__btn-padding: 19px 58px;
  --btn-border-radius: 4px;

  /* services */
  --services__item-padding: 60px 30px 60px 30px;
}

/* ************************* */

/* .header {
  height: 800px;
}

#header-sroll {
  position: fixed;
  height: 100px;
  background: rgb(0, 0, 0);
  left: 0;
  top: 0;
  float: left;
  width: 100%;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-sroll h1 {
  font-size: 30px;
  font-family: Arial;
  text-align: center;
  line-height: 50px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#header-sroll.small {
  height: 70px;
  line-height: 35px;
}
#header-sroll.small h1 {
  height: 70px;
  line-height: 35px;
  font-size: 25px;
} */

.header {
  padding-top: 33px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e3e3e3;

  /* position: fixed;
  height: 100px;
  background: #ccc;
  left: 0;
  top: 0;
  float: left;
  width: 100%; */
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
  padding-bottom: 8px;
}

.header__nav .nav__list {
  display: flex;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: var(--nav__item-margin-righ);
}

.nav__item .nav__link {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: var(--color-dark-medium);
}

.nav__item .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--color-blue-regular);
  transform: scaleX(0);
}

.nav__item .nav__link:focus-visible {
  outline: 1px solid var(--color-blue-light);
  outline-offset: 4px;
}

.nav__item .nav__link:hover::after {
  transform: scale(1);
  transition: var(--transition-normal);
}

.nav__item .nav__link:active::after {
  transform: scale(1);
  transition: var(--transition-normal);
  background-color: var(--color-blue-bold);
  color: var(--color-blue-bold);
}

.nav__item .nav__link:hover {
  transition: var(--transition-normal);
  color: var(--color-blue-regular);
}

.nav__item .nav__link:active {
  transition: var(--transition-normal);
  color: var(--color-blue-bold);
}

.header__btn {
  margin-left: var(--header__btn-margin-righ);
  padding: var(--header__btn-padding);
}

.btn {
  display: inline-flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: var(--color-white-light);
  background-color: var(--color-blue-regular);
  border-radius: var(--btn-border-radius);
  background-position: 100% 0;
  background-size: 200% 100%, auto;
  background-color: var(--color-blue-regular);
}

.btn:focus-visible {
  transition: all 0.5s ease;
  background-image: linear-gradient(
    45deg,
    var(--color-blue-regular) 0%,
    var(--color-blue-light) 50%,
    var(--color-blue-regular) 100%
  );
  color: var(--color-white-light);
  background-repeat: no-repeat;
  background-position: -200% 0, 0 0;
  background-size: 200% 100%, auto;
  background-color: var(--color-blue-regular);
}

.btn:hover {
  transition: var(--transition-faster);
  background-image: linear-gradient(
    45deg,
    var(--color-blue-regular) 0%,
    var(--color-blue-light) 50%,
    var(--color-blue-regular) 100%
  );
  color: var(--color-white-light);
  background-repeat: no-repeat;
  background-position: -200% 0, 0 0;
  background-size: 200% 100%, auto;
  background-color: var(--color-blue-regular);
}

.btn:active {
  background-color: var(--color-blue-light);
}

/* topBanner *************/

.topBanner__content {
  min-height: 550px;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      91.25deg,
      rgb(255, 255, 255) 13.04%,
      rgba(255, 255, 255, 0) 17.93%
    ),
    url(../img/first-bg\ 1.jpg);
}

.topBanner__title {
  padding-top: 10%;
  margin-bottom: 2%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1c1c1c;
  width: 529px;
}

.topBanner__descr {
  margin-bottom: 34px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
  width: 471px;
}

.topBanner__btn {
  padding: var(--topBanner__btn-padding);
}

.topBanner__signature {
  padding-left: 40px;
  display: flex;
  align-items: center;

  padding-top: 14px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
}

.topBanner__signature .signature__svg {
  margin-right: 12px;
}

/* #services *************/

.services {
  padding-top: 7%;
  padding-bottom: 160px;
  border-bottom: 1px solid var(--color-white-regular);
}

.services__list {
  padding-top: 54px;
  display: flex;
  gap: 30px;
}

.services__title {
  margin-bottom: 1.7%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
}

.services__descr {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #787878;
}

.services__list .services__card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-white-regular);
  padding: var(--services__item-padding);
  width: 270px;
}

.services__list .services__card:hover {
  transition: var(--transition-normal);
  background-color: var(--color-blue-regular);
}

.services__card:hover .card__title,
.services__card:hover .card__descr,
.services__card:hover > svg > path {
  color: var(--color-white-light);
  transition: var(--transition-normal);
  fill: var(--color-white-light);
}

.services__card .card__title {
  word-break: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
}

.services__card .card__descr {
  word-break: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787878;
}

.services__card svg {
  margin-bottom: 27px;
}

.services__card p:not(:last-child) {
  margin-bottom: 16px;
}

/* articles ***********************/

.articles {
  padding-top: 6%;
  padding-bottom: 11.5%;
  border-bottom: 1px solid var(--color-white-regular);
}

.articles__title {
  margin-bottom: 3.5%;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.articles__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.articles__content .articles__card {
  position: relative;
  width: 570px;
  display: flex;
  background-color: var(--color-white-light);
  border-radius: 5px;
  overflow: hidden;
}

.articles__content .card__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  background-color: var(--color-dark-bold);
  opacity: 0;
}

.articles__content .card__text:hover::before {
  transition: var(--transition-normal);
  opacity: 0.2;
}

.articles__content .card__text:active::before {
  opacity: 0.3;
}

.card__text .text__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articles__card .card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-white-regular);
  border-radius: 0px 5px 5px 0px;

  padding: 23px 30px;
  border-left: none;
  width: inherit;
  min-height: inherit;
}

.card__text .text__time {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: var(--color-dark-regular);
}

.card__text .text__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: var(--color-dark-medium);
  margin-bottom: 16px;
}

.card__text .text__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  width: 210px;
  word-break: normal;
  color: var(--color-dark-regular);
}

.articles__card .card__text:hover {
  transition: var(--transition-normal);
  border: 1px solid var(--color-blue-regular);
  border-left: none;
  background-color: var(--color-blue-regular);
}

.articles__card .card__text:active {
  border: 1px solid var(--color-blue-bold);
  border-left: none;
  background-color: var(--color-blue-bold);
}

.card__text:hover .text__time,
.card__text:hover .text__title,
.card__text:hover .text__descr {
  color: var(--color-white-light);
  transition: var(--transition-normal);
}

/* clients **********/

.clients {
  padding-top: 7%;
  padding-bottom: 30%;
  margin-bottom: 100px;
  border-bottom: 1px solid var(--color-white-regular);
}

.clients__title {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__list .clients__card {
  min-height: 362px;
  width: 370px;
  border-radius: 5px;
  padding: 51px 37px 32px 36px;
  border: 1px solid var(--color-dark-light);
}

.clients__card .comment__text {
  width: 281px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  margin-bottom: 11%;
}

.clients__card .comment__block {
  display: flex;
  align-items: center;
  padding-top: 8.5%;
  width: 300px;
  border-top: 1px solid var(--color-white-regular);
}

.comment__block .block__text {
  margin-left: 18px;
}

/* .block__text p:not(:last-child) {
 margin-bottom: 1px;
} */

.block__text .name__title{
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.block__text .name__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */

  color: #787878;
}
